<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CS348 Project</title>
</head>
<body>
    <h1>CS348 Project</h1>
    <!-- Button to go to the filter page -->
    <a href="/filter"><button>Go to Filter Page</button></a>
    <br/>

    <!-- Student List -->
    {% for s in students %}
        <h4>
            <li>
                {{ s.name }} <a href="/update/{{ s.id }}" class="btn btn-outline-secondary btn-sm">Update</a>
            </li>
            {% for i in s.courses %}
                {{ i.name }}
            {% endfor %}
        </h4>
    {% endfor %}
</body>
</html>
