<!DOCTYPE html>
<html lang="en">

{% block content %}

  <div class="container">
    <h1>Update Schedule</h1>
    <br/>
  {{ student.name }}
      <form action="/adds" METHOD="POST">
          <label>
              <input type="number" placeholder="student_id" name="student_id">
          </label>
          <label>
              <input type="number" placeholder="course_id" name="course_id">
          </label>
          <input type="submit" value="Add course_id" class="btn btn-secondary">
    </form>
  {% for k in schedule %}
      <li>{{ k.student_id }} {{ k.course_id }}</li>
      <a href="/delete/{{ k.id }}" class="btn btn-outline-danger btn-sm">Delete</a>
      <form action="/change/{{ k.id }}" METHOD="POST">
          <label>
              <input type="number" placeholder="course_id" name="course_id" >
          </label>
          <input type="submit" value="Change course_id" class="btn btn-secondary">
            </form>
  {% endfor %}
  <a href="/" class="btn btn-primary">Back to Index</a>


{#        {% for i in student.courses %}#}
{#            <li>{{ i.name }}<a href="/delete/{{ i.id }}" class="btn btn-outline-danger btn-sm">Delete</a>#}
{#             </li>#}
{#            <form action="/change/{{ i.id, student.id }}" METHOD="POST">#}
{#                <input type="text" placeholder="Course Name" name="name" >#}
{#        <input type="submit" value="change" class="btn btn-secondary">#}
{#            </form>#}
{##}
{#        {% endfor %}#}
    </div>
{% endblock %}